.geral {
    background: lightcoral;
    margin: -8px;
    padding-top: 50px;
    font-size: 18px;
    font-family: sans-serif;
}

.CENbolo {
    text-align: center;
}

.ftCN {
    text-align: center;
}

.foto {
    text-align: center;
}